# Frontend Variables
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000/api

# Backend Variables
DATABASE_URL=postgresql://postgres.jtrissjdliytrnvevtjj:Saumya84888@aws-0-ap-southeast-2.pooler.supabase.com:6543/postgres?sslmode=require
CORS_ORIGINS=["http://localhost:3000"]
GROQ_API_KEY=gsk_your_groq_api_key_here
GROQ_MODEL=llama-3.3-70b-versatile
